.ulMain li {
    list-style-type: square;
    width: 300px;
    height: 35px;
    text-align: left;
}

.ulMain li a {
    display: block;
    width: 300px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    padding: 3px;
    color: #000;
    text-decoration: none;
}
.ulMain li a:hover {
    border: 1px solid rgb(0, 0, 0);
}

.ulMain li:hover {
    list-style-type: upper-alpha;
}