.GoodsMain {
  padding-bottom: 20px;
}
.loader {
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-top: 18px;
  display: flex;
  justify-content: center;
}
.loader:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}