.InterstYouMain {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-top: 18px;
  padding-top: 3px;
  padding-bottom: 30px;
}
.good {
  width: 180px;
  height: 240px;
  border-radius: 5px;
  margin-top: 12px;
  position: relative;
}
.good img {
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
.good a {
  color: #000;
  text-decoration: none;
}
.good a:hover {
  text-decoration: underline;
}
.good span {
  font-size: 13px;
  text-align: left;
  display: block;
  width: 100%;
  padding: 1px;
  padding-left: 4px;
}
.price {
  display: block;
  width: 100%;
  font-weight: bold;
}
.brend a{
  color:rgb(100, 100, 100);
}
.goodsStack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
span.favorite {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  text-align: right;
  color: rgba(0, 0, 0, 0.267);
  font-size: 24px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}