.quizCreatorMain {
    width: 550px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}
.quizCreatorDiv {
    margin: 40px;
}
.hr {
   margin: 50px 0px;
   width: 550px;
   margin-left: -40px;
   border-color: #000;
}