.gameMain {
  width: 880px;
  margin:55px 15px;
}
.game {
  width: 795px;
  height: 110px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-bottom: 30px;
}
.vgameCatalog {
  width: 795px;
  height: 310px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-bottom: 30px;
}