.MenuMain {
  border-bottom: 1px solid rgb(167, 167, 167);
  height: 50px;
  margin-top: 18px;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}