.AuthorizationBlock {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  .AuthorizationMain {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer {
    width: 100%;
    height: 130px;
    // background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    hr {
      width: 100%;
      border-color: rgb(207, 207, 207);
    }
    span {
      margin-top: 10px;
      display: block;
      width: 25%;
    }
  }
}

.leftPanel {
  margin-top: 130px;
  width: 560px;
  height: 600px;
  .profiles {
    width: 560px;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
    span {
      display: block;
      width: 100%;
    }
  }
  .mobileWC {
    width: 560px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  }
}

.profiles .profilesContainer {
  width: 95%;
  height: 300px;
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .infoTextBlock {
    width: 100%;
    height: 50px;
  }
  .profile {
    width: 170px;
    height: 220px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    img {
      border-radius: 50%;
      width: 70%;
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
}

.rightPanel {
  margin-top: 130px;
  width: 320px;
  height: 600px;
  .logIn {
    width: 320px;
    height: 230px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
    padding-top: 14px;
  }
  .register {
    width: 320px;
    height: 340px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
    margin-top: 20px;
  }
}

.mobileWC .imageBlock{
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobileWC .infoBlock {
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}