.quizMain {
    padding-bottom:20px ;
    position: relative;
}
.counter {
    position:absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.width {
    width: 550px;
}
.h2 {
    padding: 10px;
}