.main_header {
  height: 42px;
  width: 100%;
  background-color: #4a76a8;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.button_panel {
  /* background-color: #4e6f94; */
  width: 960px;
  height: 40px;
  display: flex;
}
.logo, .search, .noti, .music, .logIn {
  height: 40px;
  width: 40px;
  margin-right:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-left:5px;
}
.logo i {
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.logo i:active {
  height: 38px;
}
.logo i:hover{
  cursor: pointer;
}
.noti:hover, .music:hover, .logIn:hover {
  background-color: #08080813;
  cursor: pointer;
}
.search {
  width: 230px;
  margin-left:110px;
}
.search input {
  width: 185px;
  height: 21px;
  background-color: #224b7a;
  border: none;
  border-radius: 20px;
  padding: 4px 21px;
  outline: none;
}
.noti {
  margin-left:5px ;
}
.noti i {
  font-size: 18px ;
  color: #1a3a5f;
}
.music {
  width: 290px;
  position: relative;
  i {
    color:#1a3a5f;
    font-size: 20px;
  }
}
.logIn {
  position: relative;
  width: 140px;
  margin-left:60px ;
  margin-right:0px;
}
.logIn img {
  height: 80%;
  border-radius: 50%;
}
.logIn span {
  color: #fff;
  margin-right: 10px;
}
.navLink {
  display: block;
  width: 140px;
  height: 43px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.topProfileMenu {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 230px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 45px;
  margin-right: -5px;
  border-radius: 5px;
  border: 1px solid #c5d0db;
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
    height: 23%;
    border: none;
    outline: none;
    background-color: none;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    color: rgb(19, 19, 78);
    border-bottom: 1px solid #c5d0db;
    &:hover {
      cursor: pointer;
      background-color: rgba(1, 26, 255, 0.082);
    }
  }
  button:first-child {
    height: 31%;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  button:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
  }
}

.musicMenu {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.486);
  top: 0;
  right: 0;
  margin-right: -70px;
  width: 655px;
  height: 500px;
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 200px;
    color: rgb(133, 133, 133);
  }
}