.narrow_column_wrap {
  width: 230px;
  height: 1100px;
  margin:55px 15px;
}
.avatar_block {
  width: 230px;
  height: 255px;
  background-color:#ffffff;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}
.avatar_block img {
  border-radius:3px;
  width: 88%;
}
.avatar_block button {
  background-color: rgba(122, 150, 194, 0.226);
  padding: 5px 12px;
  border: none;
  margin: 10px 5px;
  border-radius:3px;
  color: rgb(93, 115, 143);
}
.avatar_block .redact_button {
  padding: 7px 30px;
}
.param_block {
  position: relative;
  width: 230px;
  height: 40px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
  }
}
.present_block {
  padding-top: 10px;
  width: 230px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  span {
    display:block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
  }
}
.friend_block {
  width: 230px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 10px;
  hr {
    width: 100%;
  }
  span {
    display:block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
  }
}
.subscribe_block {
  width: 230px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 10px;
  span {
    display:block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
  }
}