.narrow_column_wrap {
  width: 230px;
  height: 1100px;
  margin:55px 15px;
}
.avatar_block {
  width: 230px;
  height: 255px;
  background-color:#ffffff;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}
.avatar_block img {
  border-radius:3px;
}
.avatar_block button {
  background-color: rgba(122, 150, 194, 0.226);
  padding: 5px 12px;
  border: none;
  margin: 10px 5px;
  border-radius:3px;
  color: rgb(93, 115, 143);
}
.avatar_block .redact_button {
  padding: 7px 30px;
}
.param_block {
  width: 230px;
  height: 40px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}
.present_block {
  width: 230px;
  height: 100px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}
.friend_block {
  width: 230px;
  height: 200px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}
.subscribe_block {
  width: 230px;
  height: 700px;
  background-color: #fff;
  margin-top:18px ;
  border-radius:5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
}