.reactLearnMain {
  width: 796px;
  margin:55px 15px;
}
.reactLearnBlock {
  width: 796px;
  height: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-bottom: 30px;
}
.done {
  border: 5px solid rgb(81, 212, 57);
}