.bookmarksMain {
  width: 796px;
}
.favoriteBlock {
  margin-top: -18px;
  width: 796px;
  min-height: 250px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 1px rgba(66, 66, 66, 0.5);
  margin-bottom: 30px;
  h4 {
   padding-top:120px;
  }
}